*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
a {text-decoration: none;color: #fff;}
ul {list-style: none;color: #fff;}
input {border: none;outline: none;background-color: transparent;}

html, body {
	height: 100%; /*необходимо указать это свойство чтобы все работало!*/
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #86878B;
}

.wrapper { /*оболочка, которая включает все основные секции (header, section1-2-3..., footer)*/
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.header-full-screen {
	color: #fff;
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(img/bg-header.png);
	background-repeat: no-repeat;
	background-size: cover;
    background-attachment: fixed;
    background-position: top;
	min-height: 100vh; /*применили тот же параметр что и выше, чтобы блок стал на всю высоту экрана*/
	display: flex;/* для того чтобы работать с контентом блока*/
    align-items: center; /*сделали так чтобы весь контент headera подстривался под экран
                         и всегда был по центру*/
}

.container { /*контейнер ограничивающий ширину*/
	flex: 1 1 auto;
	max-width: 1105px;
	margin: 0 auto;
	width: 100%; /*свойство, которое необходимо указать чтобы в Internet Explorer блок с 
	               ограниченой шириной был четко по центру*/
}

nav {
	position: fixed; /*чтобы навигация имела свое положение и чтобы можно было применить нижнее свойство*/  
	top: 0; /*прикрепили к верху, иначе navbar будет становиться по центру вместе с
	        остальным контентом headera*/
	width: 100%;
	z-index: 3;
	background-color: #000;
	padding: 21px 0;
}

.burger-btn-wrapper {
	display: none;
}
.burger-btn {
	transition: 0.2s;
}
.menu-burger {
	position: fixed;
	transform: translateX(100%);
	top: 73px;
	right: 0;
	bottom: 0;
	z-index: 2;
	padding: 20px 80px 20px 40px;
	overflow: auto;
	transition: 0.2s;
	background-color: #000;
	box-shadow: black 10px 10px 7px 10px;
}
.menu-burger.active {
	transform: translateX(0);
}
.menu-burger-item {
	margin-bottom: 20px;
	transition: 0.2s;
}

.navbar-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu-list {
	display: flex;
}

.menu-item {
	margin-right: 45px;
	transition: 0.2s;
}

.menu-item:last-child {
	margin-right: 0px;
}

.menu-list:hover .menu-item,  
.menu-burger-list:hover .menu-burger-item {
	filter:blur(3px);
    opacity:.5;
    transform: scale(.98);
    box-shadow:none;
}
.menu-list:hover .menu-item:hover,
.menu-burger-list:hover .menu-burger-item:hover {
	transform:scale(1);
    filter:blur(0px);
    opacity:1;
    box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
}

.header-inner {
    display: flex;
    flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.big-logo {
	margin-top: 73px;
	margin-bottom: 1.4em;
}

.column-text {
	width: 47%;
	margin-right: 3em;
	margin-bottom: 3em;
}

.column-free-trial {
	flex-basis: 26em;
	width: 33%;
	background-color: #fff;
	border-radius: 3px;
	text-align: center;
	margin-bottom: 3em;
}

.main-title {
	font-family: 'Raleway', sans-serif;
	font-size: 2.57em;
	font-weight: 300;
	display: block;
}

.main-title:after {
	content: '';
	display: block;
	margin: 0.83em 0 1em;
	width: 2em;
	height: 2px;
	background-color: #fff;
}

.header-text {
	font-size: 1.15em;
	opacity: 0.8;
	font-family: 'Raleway', sans-serif;
	font-weight: 300; 
	margin-bottom: 2.2em; 
}

.btn-download {
	display: inline-block;
	width: 135px;
	line-height: 3em;
	text-align: center;
	transition: 0.2s;
}

.btn-transparent {
	border: 1px solid #fff;
}

.btn-transparent:hover {
    background-color: #fff;
    color: #FD8841;
}

.subtitle {
	color: #000;
	font-size: 1.4em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}

.form-title {
	background-color: #F3F3F3;
	color: #333333;
	border-radius: 4px;
	line-height: 2.5em;
	width: 100%;
}

.form-title span {
	color: #FD8841;
}

.form-field {
	display: block;
	width: 80%;
	margin: 3.5em auto;
	padding: 1em;
	height: 2.1em;
	border-bottom: 1px solid #BDBDBD;
}

.form-field:first-child {
	margin-top: 2.5em;
}

.btn-submit {
	width: 100%;
	background-color: #FD8841;
	line-height: 3.5em;
	color: #fff;
	font-weight: 600;
	font-size: 15px;
	cursor: pointer;
	transition: 0.2s;
	border-radius: 4px;
}

.btn-submit:hover {
	background-color: #FB5400;
}





.brand-bar-inner {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 23px 0;
}

.brand-bar-column1 {
	width: 40%;
}

.brand-bar-column2 {
	width: 53%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: 7%;
}

.brand-bar-column2 i {
	color: #86878B;
	font-size: 48px;
	min-width: 50px;
	margin: 10px 0;
}







.tab-button {
	width: 112px;
	height: 112px;
	background-color: #262626;
	color: #fff;
	font-weight: 700;
	text-align: center;
	line-height: 112px;
}

.tab-button:nth-child(even) {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.tab-button.active {
	background-color: #FD8841;
}

.text-description p {
	margin: 1.4em 0;
}

.btn-orange {
	background-color: #FD8841;
	border-radius: 3px;
	margin-bottom: 3em;
}

.btn-orange:hover {
	background-color: #FB5400;
}

.title-psevdoelement:after {
	content: '';
	display: block;
	margin: 30px 0;
	width: 64px;
	height: 2px;
	background-color: #FD8841;
}

section {
	padding: 6em 3.5em;
}
section:nth-child(odd) {
	background-color: #F5F5F5;
}

.features-main, .features-second {
	display: flex;
	justify-content: space-between;
}
.tab, .features-content1 {
	margin-right: 9%;
}
.features-content.hide {
	display: none;
}
.features-content.active {
	display: block;
}
.features-img-left img {
	margin-left: -36px;
}
.features-img-right img {
	margin-right: -36px;
}

.download-item {
	display: flex;
	margin-bottom: 20px;
}

.download-icon {
	max-width: 40px;
	min-width: 40px;
	max-height: 40px;
	min-height: 40px;
	border: 2px solid  #FD8841;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.download-icon i {
	color: #FD8841;
	font-size: 
}

.download-content {
	max-width: 360px;
	margin-left: 30px;
}

.download-content p {
	margin-top: 10px;
}












.center {
	text-align: center;
}

.main-title-black {
	color: #212121;
}

.title-psevdoelement-center:after {
    position: relative;
    left: 50%;
    margin-left: -32px;
}

.dignity {
	margin: 7.1em 0 0;
	display: flex;
}

.dignity-item {
	margin-right:  3.57em;
}
.dignity-item:last-child {
	margin-right:  0;
}

.dignity-icon {
	max-width: 70px;
	min-width: 70px;
	max-height: 70px;
	min-height: 70px;
	border: 2px solid #FD8841;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto 2em;
}

.dignity-icon i {
	font-size: 26px;
	color: #FD8841;
}













.white {
	color: #fff;
}
.header-pricing {
	margin-bottom: 20em;
}

.pricing-option {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.pricing-packet {
	margin-right: 3%;
	flex: 1 1 auto;
	max-width: 343px;
	position: relative;
}
@media (max-width: 710px) {
    .pricing-packet {
    	margin-bottom: 20em;
    }
    .pricing-option {
    	justify-content: center;
    }
}
.pricing-packet:hover {
	box-shadow: 0px 3px 10px 3px #dddddd;
}
.pricing-packet:last-child {
	margin-right: 0;
}

.price {
	color: #fff;
	position: relative;
}
.price:nth-child(2) {
	border-bottom: none;
}
.name-packet {
	border-bottom: 1px solid #fff;
	line-height: 3em;
}
.dollar {
	font-size: 30px;
	font-weight: 700;
	font-family: 'Raleway', sans-serif;
}
.numeral {
	font-size: 80px;
	font-weight: 700;
	font-family: 'Raleway', sans-serif;
}
.price-subtitle {
	font-style: italic;
	font-weight: 600;
	color: #999999;
	line-height: 3em;
}
.note {
  position: absolute;
  width: 100%;
  height: 40px;
  bottom: 0;
  text-transform: uppercase;
  color: #FD8841;
  background-color: #FD8841;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.price-container {
  position: absolute;
  width: 100%;
  bottom: 5px;
  background-color: #262626;
  transition: 0.4s;
  z-index: 1;
}
.pricing-packet:hover .price-container {
  transform: translateY(-35px);
}
.pricing-packet:hover .note {
  color: #fff;
}

.pricing-feature {
	line-height: 2.9em;
	text-transform: uppercase;
	color: #999999;
	border-bottom: 1px solid #F5F5F5;
	transition: 0.4s;
	background-color: #fff;
}
.pricing-feature:last-child {
	border-bottom: none;
}












.header-testimonials {
	margin-bottom: 5em;
}

.testimonials-inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.testimonials-item {
	margin-right: 5%;
	margin-bottom: 3em;
	flex: 1 1 auto;
	max-width: 273px;
	text-align: left;
}
.testimonials-item:last-child {
	margin-right: 0;
}
.client-comment {
	margin-bottom: 1.42em;
	padding: 1.7em 0.9em;
	background-color: #F3F3F3;
	font-style: italic;
	position: relative;
	transition: 0.4s;
	opacity: 0;
}
.client-comment:after {
	content: '';
	position: absolute;
	bottom: -17px;
	left: 20px;
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 23px solid #F3F3F3;
}
.client {
	display: flex;
	align-items: center;
}
.client-photo {
	margin-right: 1.05em;
}












.header-custom-section {
	margin-bottom: 2.35em;
}
.bg-section {
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(img/bg-custom-section.png);
}
.title-psevdoelement-white:after {
	content: '';
	display: block;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 64px;
	height: 2px;
	background-color: #fff;
}












.header-contact {
	text-align: center;
	margin-bottom: 5.7em;
	display: block;
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-container {
  width: 50%;
}
textarea.contact-input {
  width: 100%;
  height: 150px;
  position: relative;
  top: 15px;
  resize: none;
}

.input-container {
  position: relative;
  line-height: 60px;
}
input.contact-input {
  width: 90%;
}
.form-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.2s all;
  cursor: text;
  color: #BDBDBD;
}
.contact-input {
  /*width: 90%;*/
  border: none;
  outline: 0;
  padding: 0.5rem 0;
  border-bottom: 1px solid #BDBDBD;
  box-shadow: none;
  color: #BDBDBD;
 }

.contact-input:invalid {
  outline: 0;
}
.contact-input:focus,
.contact-input:valid {
  border-color: #FD8841;
}
.contact-input:focus~.form-label,
.contact-input:valid~.form-label {
  font-size: 14px;
  top: -24px;
  color: #FD8841;
}
textarea.contact-input:focus~.form-label,
textarea.contact-input:valid~.form-label {
	top: -24px;
}
input.btn-download.btn-orange {
	display: block;
	margin: 3em auto 0;
	color: #fff;
}

























@media (max-width: 1130px) {
	.header-inner, .navbar-inner {
		padding: 0 30px;
	}
	.brand-bar-inner {
		padding: 23px 30px;
	}
	.testimonials-inner {
		justify-content: center;
	}
	.testimonials-item {
		max-width: 70%;
		margin-right: 0;
	}
}

@media (max-width: 920px){
    .features-main, .features-second {
	    display: block;
     }
    .tab {
    	display: flex;
    	justify-content: center;
    	margin-bottom: 3em;
    }
    .tab-button:nth-child(even) {
    	border-top: none;
    	border-bottom: none;
	    border-right: 1px solid #fff;
	    border-left: 1px solid #fff;
    }
    .tab, .features-content1 {
	    margin-right: 0;
    }
    .features-img {
    	text-align: center;
    }
    .features-content2, .features-content3 {
    	max-width: 100%;
    }
    .features-img img {
    	max-width: 320px;
    	width: 100%;
    }
    .features-img-left img {
	    margin-left: 0px;
	    width: 100%;
    }
    .features-img-right img {
	    margin-right: 0px;
	    width: 100%;
    }
}

@media (max-width: 830px) {
    .menu {
    	display: none;
	}
    .burger-btn-wrapper {
		display: block;
		position: relative;
		width: 30px;
        height: 18px;
		font-size: 0;
		cursor: pointer;
    }
	.burger-btn-wrapper:before,
	.burger-btn,
	.burger-btn-wrapper:after {
		left: 0;
		position: absolute;
    	width: 100%;
		height: 2px;
		transition: 0.2s;
    	background-color: #fff;
	}
	.burger-btn-wrapper:before,
	.burger-btn-wrapper:after {
		content: '';
	}
	.burger-btn-wrapper:before {
		top: 0;
	}
	.burger-btn {
		top: 50%;
		transform: translate(0px, -50%);
	}
	.burger-btn-wrapper:after {
		bottom: 0;
	}

	/* Анимация иконки бургера */
	.burger-btn-wrapper.active .burger-btn{
		opacity: 0;
	}
	.burger-btn-wrapper.active:before {
		top: 50%;
		transform: rotate(-45deg) translate(0px, -50%);
	}
	.burger-btn-wrapper.active:after {
		bottom: 50%;
		transform: rotate(45deg) translate(0px, 50%);
	}


    .big-logo {
    	opacity: 0;
    }
    .header-inner {
    	justify-content: center;
    }
    .column-text, .column-free-trial {
    	width: 100%;
    }
    .column-text{
    	text-align: center;
    	margin-right: 0;
    }
    .main-title:after {
    	position: relative;
    	left: 50%;
    	margin-left: -1em;
    }
    .brand-bar-column2 i {
	    font-size: 28px;
    }
    .dignity {
    	flex-wrap: wrap;
    	justify-content: center;
    	margin-top: 3em;
    }
    .dignity-item {
        width: 60%;
        margin: 0;
    }
    .dignity-icon {
    	margin: 0 auto 0.5em;
    	max-width: 50px;
	    min-width: 50px;
	    max-height: 50px;
	    min-height: 50px;
    }
    .dignity-icon i {
    	font-size: 20px;
    }
}

@media (max-width: 450px) {
    body {
    	font-size: 10px;
    }
}